body {
	font-family: 'Rubik', sans-serif;
}

.text {
	text-align: center;
	background: white;
}

#photo {
  transition: transform .2s; /* Animation */
  width: 100%;
  margin: 0 auto;
}

#photo:hover {
  transform: scale(2); 
  z-index: 10000 !important;
  cursor: pointer;
}